<div class="panel-wrapper">
    <div class="row">
        <div class="logo">
            <div class="logo_picture">
                <img src="assets/svgs/keyboard_svg.svg" alt="Логотип">
            </div>
            <div></div>
            <div class="logo_text">
                Клавиатурный тренажёр
            </div>
        </div>
        <div class="nav_button__logged" [routerLink]="getBasedOnRoleRoute()" *ngIf="isLoggedIn()">
            Упражнения
        </div>
        <div class="nav_button__logged" [routerLink]="['statistics']" *ngIf="isLoggedIn()">
            Статистика
        </div>
        <div class="nav_button__logged" [routerLink]="['info']" *ngIf="isLoggedIn()">
            Справочная информация
        </div>
        <div class="nav_button__logged" *ngIf="isLoggedIn()" (click)="onLogoutClick()">
            Выход
        </div>
        <div class="nav_button" [routerLink]="['registration']" *ngIf="!isLoggedIn()">
            Зарегистрироваться
        </div>
    </div>
</div>
