.content-base {
    width: 1440px;
    min-width: 1440px !important;
    background-color: #E4E9F2;
}
.header{
    width: 100%;
    nav {
        display: block !important;
        width: 100%;
    }
}
