<div class="info-wrapper">
    <nb-card class="info-form">
        <nb-card-header class="info-form__header">
            <div>О разработчиках</div>
        </nb-card-header>
        <nb-card-body class="info-form__body">
            <p>Самарский университет<br>Кафедра программных систем</p>
            <p>Курсовой проект по дисциплине
                “Современны методы разработки и проектирования программных комплексов”</p>
            <p>Веб-приложение «Клавиатурный тренажер» с функциями администратора

            </p>
            <p>Разработчики: студенты группы 6132-020302D
                <br>Сулименко Сергей<br>Сухов Антон<br>Ушакова Ирина</p>
            <p class="info">Руководство пользователя</p>
            <p><a href="">Открыть файл в браузере</a>
        </nb-card-body>
        <nb-card-footer class="info-form__footer">
            Самара 2022
        </nb-card-footer>
    </nb-card>
</div>
