<div class="setting-level" routerLink="/settings-level">Настроить уровень сложности</div>
<div class="exercises-wrapper">
    <ng-container *ngFor="let exercise of exercises">

        <nb-card status="info" class="exercises-item" >
            <nb-card-header class="exercises-item__header">
                <div>{{exercise.name}}</div>
                <div class="edit" (click)="openModalWindow(exercise)">
                  Редактировать
                </div>
                <div class="header__right-item">{{exercise.creationDate}}
                    <div  class="trash-icon">
                        <button nbButton status="danger" (click)="deleteExercise(exercise.id)"><nb-icon icon="trash-outline"></nb-icon></button>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body class="exercises-item__body">
                <div>Уровень сложности: {{exercise.complexity + 1}}
                </div>
                <div>Количество символов: {{exercise.length}}
                </div>
                <div>Время выполнения: {{exercise.availableTime}} сек
                </div>
                <div class="last">Возможное количество ошибок: {{exercise.availableErrors}}</div>
            </nb-card-body>
            <nb-card-footer class="exercises-item__footer">
                <div class="text-vision" (click)="showText(exercise.id)">{{exercise.buttonText}}</div>
                <div *ngIf="exercise.toggled" class="text-exercises">
                    {{exercise.text}}
                </div>
            </nb-card-footer>
        </nb-card>
    </ng-container>
    <div class="create-exercises">
        <nb-icon class="create-exercises__icon" icon="plus-circle-outline"></nb-icon>
        <div class="create-exercises__button" routerLink="/create-exercises">Создать новое упражнение</div>
    </div>


</div>
